body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input, button {
  width: 100%;
  padding: 10px;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4157ad;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 8px;
}

.tamanho{
    width: 10%;
      padding: 10px;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button:hover {
  background-color: rgb(103, 103, 241);
}

#mensagem {
  margin-top: 10px;
  color: #333;
  font-size: 0.9em;
}

.erro {
  color: red;
}
.sucesso {
  color:rgb(5, 196, 5);
}

#link-reset {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: green;
  word-break: break-all; 
}

.link-redefinicao {
  margin-top: 20px;
  display: block;
  width: 100%;
  text-align: center;
  word-break: break-all;
}