# Ignora node_modules
node_modules/

# Ignora arquivos .env (segurança!)
.env

# Contém a senha do role de app do Postgres em texto puro (bootstrap local)
sql/schema.sql

# Logs
*.log

# Pastas de build/output (opcional)
dist/
build/


serviceAccountKey.json